<ion-card>
  <ion-card-header>
    <ion-card-title>Triángulo</ion-card-title>
    <ion-card-subtitle>
      El perímetro de un triángulo es la suma de las longitudes de sus
      3 lados. En otras palabras, es la medida total del contorno
      o borde del triángulo.
      <ion-img
        src="assets/info_triangulo.png"
        alt="Información del cálculo del perímetro de un triángulo"
        style="margin-top: 16px; height: 200px;"
      />
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="formulario">
      <ion-list>
        <ion-item>
          <ion-input label="Lado A (cm)" labelPlacement="floating" type="number" formControlName="ladoA" />
        </ion-item>
        <ion-item>
          <ion-input label="Lado B (cm)" labelPlacement="floating" type="number" formControlName="ladoB" />
        </ion-item>
        <ion-item>
          <ion-input label="Lado C (cm)" labelPlacement="floating" type="number" formControlName="ladoC" />
        </ion-item>
      </ion-list>
    </form>
    <ion-button (click)="calcularPerimetro()">Calcular perímetro</ion-button>
    <p style="margin-top: 16px;">{{textoResultado}}</p>
  </ion-card-content>
</ion-card>