<ion-card>
  <ion-card-header>
    <ion-card-title>Círculo</ion-card-title>
    <ion-card-subtitle>
      El perímetro de un círculo es la longitud de la línea
      que forma su borde.
      <ion-img
        src="assets/info_circulo.png"
        alt="Información del cálculo del perímetro de un círculo"
        style="margin-top: 16px; height: 120px;"
      />
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="formulario">
      <ion-list>
        <ion-item>
          <ion-input label="Radio (cm)" labelPlacement="floating" type="number" formControlName="radio" />
        </ion-item>
      </ion-list>
    </form>
    <ion-button (click)="calcularPerimetro()">Calcular perímetro</ion-button>
    <p style="margin-top: 16px;">{{textoResultado}}</p>
  </ion-card-content>
</ion-card>